@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

/*footer*/





*{
  margin:0;
  padding: 0;
}

body{
  margin: 0px;
  padding: 0px;
  background: #f8f8f8;

}

a{
  text-decoration: none;
  color: black;
}






header{
  width: 100%;
  height: 50px;
  background: black;
  margin: 0px auto;
  margin-bottom: 0px;
  overflow: hidden;
  position: fixed;
  padding: 0px;
}


.headerwrap{
  width: 100%;
  height: 100%;
  margin: 0 auto;

}

header .h1wrap {
  width: 80%;
  height: 100%;
  font-size: 1.8em;
  letter-spacing: -2px;
  color: white;
  font-family: Arial;
  text-align: center;
  margin: 0px;
  padding: 0px;
  float: left;
  
}
header .h1wrap h1{
  font-size: 0.9em;
  margin-top: 10px;
  letter-spacing: -2px;
  color: white;
  font-family: Arial;
 } 






#sidebar-btn{
  width: 10%;
  height: 100%;
  float: left;
}
#sidebar-btn .btn-vrap{
  margin-top: 22px;
  margin-left: 16px;  
} 
#sidebar-btn .btn-vrap .first{
  width: 12px;
  float: left;
}
#sidebar-btn .btn-vrap .second{
  width: 12px;
  float: left;
}
 #sidebar-btn span{
      height: 2px;
      background:  white;
      margin-bottom: 3px;
      display: block;
      cursor: pointer;
      border-radius: 2px;
}
#sidebar-btn span:nth-child(1){
  transform:translateZ(25px) rotate(40deg);
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -ms-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;  
}
#sidebar-btn span:nth-child(2){
  transform:translateZ(25px) rotate(-40deg);
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -ms-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;  
  margin-top: 5px;
}
































#sidebar{
  background: rgba(0,0,0,.98);
  width: 350px;
  height: 100%;
  display: block;
  position: absolute;
  left: -350px;
  top: 0px;
  transition:left 0.3s cubic-bezier(0, 0, 0.74, 1);
  z-index: 9999;
  margin-left: 0px;  
  position: fixed;
}

#sidebar.visible{
  left: 0px;
  transition:left 0.3s cubic-bezier(0, 0, 0.74, 1);
}
     









.back_arrow{
  width: 60px;
  height: 60px;
  float: right;
  margin-top: 14px;
}
.back_arrow .back{
  /*width: 20px;*/
  /*height: 20px;*/
  margin-top: 20px;
}.back_arrow .back:hover{
  cursor: pointer;
}
.back_arrow .back .first{
  float: left;
  width: 12px;
  height: 12px;
}
.back_arrow .back .second{
  width: 12px;
  height: 12px;
  float: left;
}
.back_arrow .back span{
  height: 2px;
  width: 100%;
  background:  white;
  margin-bottom: 5px;
  display: block;
  cursor: pointer;
  border-radius: 2px;
}
.back_arrow .back span:nth-child(1){
  transform:translateZ(25px) rotate(320deg);
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -ms-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;  
}
.back_arrow .back span:nth-child(2){
  transform:translateZ(25px) rotate(-320deg);
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -ms-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;  
  margin-top: 5px;
}





header .links{
  width: 100%;
  margin-top: 100px;
}
header .links .link{
  background-color: red;
  width: 30%;
  height: 11em;
  overflow: hidden;
  float: left;
  margin-left: 2.5%;
  margin-bottom: 3%;
}
header .links .link .img{
  width: 100%;
  height: 100%;
} 
header .links .link .img img{
  height: 100%;
}
header .links .link .img .heigh{
  height: 150%;
} 
header .links .link .text{
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -11em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .links .link .text h1{
  font-family: futura-pt,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 600;
  margin: 0 auto;
  font-size: 1rem;
  letter-spacing: 1.3px;
  line-height: 1.04;
  color: black;
}
header .links .link .text .white{
  color: white;
}







































































@media screen and (max-width: 880px)   {







header .h1wrap h1{
  font-size: 1.5rem;
}

#sidebar{
       background: rgba(0,0,0,.98);
       width: 100%;
       height: 100%;
       display: block;
       position: absolute;
       left: -100%;
       top: 0px;
       transition:left 0.3s cubic-bezier(0, 0, 0.74, 1);
       z-index: 9999;
       margin-left: 0px;  
       /*left: 0px;  */
       position: fixed;

    }

#sidebar.visible{
      left: 0px;
      transition:left 0.3s cubic-bezier(0, 0, 0.74, 1);
}










}