



footer{
	width: 100%;
    float: left;
    background-color: white;
}


footer .naslov{
	width: 100%;
	text-align: center;
}
footer .naslov h1{
	color:black;
	font-size:2rem;
    margin-top: 20px;
}




.naslov-soc{
	margin-bottom: 60px;
    margin-top: 20px;
}
.soc-wrap{
    width: 40%;
    margin-left: 30%;
}
.soc-wrap div{
    width: 33.33%;
    float: left;
    text-align: center;
}

.naslov-soc ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.naslov-soc ul li{
    margin: 0px;
    padding: 0px;
    float: left;
    width: 33.33%;
}
.naslov-soc ul li a{
    margin: 0px;
    padding: 0px;
    margin-left: 50%;
    list-style-type: none;
}


.fa{
	color: black;
}


footer .links{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 20px;

}

footer .links h2{
    font-family: futura-pt,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    list-style-type: none;
    width: 100%;
    max-width: 100%;
    /*margin-left: -10%;*/
    margin-top: 10px;
    font-size: .9em;
}
footer .links h2:hover{
    text-decoration: underline;
    cursor: pointer;
}


footer p{
    max-width: 500px;
    margin: 0 auto;
    font-size: .71429em;
    color: #807f83;
    text-align: center;
    line-height: 16px;
    margin-bottom: 80px;
}


footer span{
    color: black;
}











@media screen and (max-width: 800px)   {









footer .naslov h1{
	font-size:1.4rem;
}


.soc-wrap{
    width: 60%;
    margin-left: 20%;
}




footer .links h2{
    font-size: .8em;
    
}


footer p{
    max-width: 80%;
    margin: 0 auto;
    font-size: .71429em;
    color: #807f83;
    text-align: center;
    line-height: 16px;
    margin-bottom: 80px;
}





}